#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#logbooks {
    flex: 1;
    background: #ddd;
    height: 100%;
    border-right: 5px solid #aaa;
    display: flex;
    flex-direction: column;
    min-width: 15%;
}


#logbook {
    flex: 2;
    border-right: 5px solid #aaa;
    min-width: 25%;
}
 
#entry {
    flex: 4;
    overflow: auto;
}

#search {
    border-top: 1px solid #aaa;
    background: #ddd;
    margin: 0;
    padding: 10px;
}

#search input[type=text] {
    margin-bottom: 3px;
    box-sizing : border-box;     
}
