#logbooktree {
    flex: 1;
    overflow: auto;
}

#logbooktree header {
    border-bottom: 1px solid grey;
    padding: 5px;    
}

#logbooktree header .commands {
    float: right;
}

#logbooktree .tree {
    padding: 5px;
}

#logbooktree ul {
    margin: 0px;
    list-style: none;
    padding-left: 20px;
}

#logbooktree li a {
    text-decoration: none;    
}

#logbooktree .selected {
    background: white;
}

#logbooktree li.has-children {
    /* padding-left: 5px; */
    position: relative;
}

#logbooktree li input {
    position: absolute;
    left: 0;
}


#logbooktree input[type='checkbox'] {
    display: none;
    /* width: 0; */
}


#logbooktree input[type='checkbox'] + label:before {
    content: "▶";
}

#logbooktree input[type='checkbox']:checked + label:before {
    content: "▼";
}
