{% macro attachment_thumbnails(entry) %}
    {% for attachment in entry.attachments %}
        {% if not attachment.embedded %}
            {% set img_src = url_for("attachments.get_attachment", filename=attachment.path) %}
            <a href="{{img_src}}">
                {% if attachment.metadata %}
                    {% set thumb = attachment.metadata.get("thumbnail_size", {}) %}                            
                    <img class="attachment thumbnail"
                         title="{{ attachment.filename or "[No filename]" }}"
                         src="{{ img_src }}.thumbnail"
                         width="{{ (thumb.width or 50) / 2}}"
                         height="{{ (thumb.height or 50) / 2}}"/>
                {% else %}
                    <div style="width: 25px; height: 25px;"
                         class="attachment thumbnail"
                         title="{{ attachment.filename }}">
                    </div>
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
{% endmacro %}
