<link rel="stylesheet" type="text/css" href="/static/main.css"/>


<style>
 
 body {
     background: #eee;
 }
 
 .insert, ins {
     background: lightgreen;
 }
 
 .delete, del {
     background: pink;
 }

 .tagdiff_replaced {
     outline: 2px dashed orange;
 }

 article {
     border-bottom: 1px solid #bbb;
     padding: 10px;
     background: white;
 }

 article:nth-child(odd) {
     background: #f0f0f0;
 }

 article .commands {
     position: absolute;
     right: 5px;
     top: 5px;
 }

 article .index {
     background: grey;
     color: white;
     padding: 0 5px;
     border-radius: 10px;
 }

 
</style>



<header>
</header>


<div class="container">

    <div class="change">
        <span class="title">History for
            <a href="/entries/{{entry.id}}">{{entry.title}}</a>
        </span>
    </div>
    
    {% for revision in (entry.revisions | reverse) %}
        <article>
            <div>
                <span class="index">#{{loop.revindex}}</span>
                {{revision.timestamp}}
            </div>
            
            <span class="commands">                
                <a href="/entries/{{entry.id}}/{{loop.revindex}}">Show</a>
            </span>

            {% if revision.title %}
                <div>
                    <span>Title:</span>
                    <span class="title">
                        <del>{{revision.title}}</del>
                        →
                        <ins>{{revision.new_title}}</ins>
                    </span>
                </div>
            {% endif %}

            {% if revision.authors is not none %}
                <div>
                    <span>Authors:</span>
                    <span class="authors">
                        <del>{{revision.authors}}</del>
                        →
                        <ins>{{revision.new_authors}}</ins>
                    </span>
                </div>
            {% endif %}

            {% if revision.content %}
                <span>Content changed</span>
            {% endif %}

        </article>
    {% endfor %}                
</div>


<script type="text/javascript" src="/static/color_attributes.js"></script>
