<link rel="stylesheet" type="text/css" href="/static/main.css"/>

<style>

 body {
     background: #eee;
 }

 a {
     text-decoration: none;
 }

 .container {
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 header {
     flex: 0;
     padding: 5px;
     border-bottom: 1px solid grey;
     background: #ddd;
     position: relative;
 }

 header .name {
     font-size: 120%;
 }

 header form {
     margin: 0;
 }

 header form select {
     font-size: 70%;
     margin: 1px;
 }
 
 .entries {
     flex: 1;
     max-height: 100%;
     overflow-y: auto;
 }
 
 .entry {
     position: relative;
     padding: 5px;
     border-bottom: 1px solid #aaa;
     overflow: auto;
 }

 .entry .entry-logbook {
     font-size: 80%;
     text-decoration: underline;
 }
 
 .entry:hover {
     background: #f5f5f5;
 }
 
 .entry.selected {
     background: white;
 }

 .date-separator {
     position: sticky;
     top: 0;
     border-bottom: 1px solid #aaa;
     font-size: 80%;
     background: #ddd;
     color: black;
     text-align: center;
     z-index: 10;
 }

 .entry .content {
     font-size: 80%;
     line-height: 2ex;
     max-height: 6ex;
     overflow-y: hidden;
 }

 .entry .content:before {
     content: attr(data-content); 
 }

 .entry .tags {

 }

 .entry .tag {
     font-size: 80%;
     padding: 0 3px;
     border: 1px solid #ccc;
 }
 
 .entry .followups {
     background: grey;
     color: white;
     padding: 0 5px;
     border-radius: 10px;
     position: absolute;
     right: 2px;
     top: 2px;
 }

 .entry .number-of-attachments {
     background: white;
     color: grey;
     padding: 0 3px;
     position: absolute;
     right: 2px;
     bottom: 2px;
     border: 1px solid grey;
 }

 img.thumbnail {
     float: right;
     clear: right;
     border: 1px solid grey;
 }

 .placeholder {
     color: grey;
 }
 
</style>


{% from 'entries.jinja2' import entry_item %}


<div class="container">
    
    <header>
        <div class="name">{{ logbook.name }}</div>

        <a href="/logbooks/{{logbook.id}}/edit" target="_top"
           title="Edit the properties of this logbook">
            Edit
        </a>
        | 
        <a href="/logbooks/new?parent={{ logbook.id }}" target="_top"
           title="Create a new logbook inside this logbook">
            New child
        </a>
        
        <span class="commands">
            <a href="/entries/new?logbook={{logbook.id}}" target="entry"
               title="Create a new entry in this logbook">
                New entry
            </a>
        </span>

        {#
        {% if logbook.attributes %}
            <div class="attributes">
                {% for attribute in logbook.attributes %}
                    <label class="attribute" data-name="{{attribute.name}}">
                        {% if attribute.required %}*{% endif %}
                        {{ attribute.name }}<span class="value">{{ attribute.type }}</span>
                    </label>
                {% endfor %}
            </div>
        {% endif %}
        #}
        {% if logbook.attributes %}
            <form action="/logbooks/{{logbook.id}}" method="post">
                <div class="attributes">
                    {% for attribute in logbook.attributes %}
                        {% if attribute.type == "option" %}
                            <select name="attribute-{{attribute.name}}"
                                    onchange="this.form.submit()">
                                <option selected>[{{attribute.name}}]</option>
                                {% for option in attribute.options %}
                                    <option value="{{option}}"
                                            {% if attribute_filters.get(attribute.name) == option %} selected="true" {% endif %}>
                                        {{option}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        {% endif %}
        
    </header>
        
    <div class="entries">

        {% if entries %}
            {% for entry in entries %}
                
                <a id="{{ entry.id }}"></a>  {# link anchor #}
                
                {% if loop.first or entries[loop.index0-1].timestamp.date() != entry.timestamp.date() %}
                    <div class="date-separator">
                        {{ entry.timestamp.strftime("%a %Y-%m-%d") }} 
                    </div>
                {% endif %}
                
                {% set entryUrl = "/entries/{entry.id}".format(entry=entry, followups=followups) %}

                {{ entry_item(entry, logbook) }}
            {% endfor %}        
            {% if n_entries > 0 and (n_entries == entries | length) %}
                <a href="/logbooks/{{logbook.id}}?n={{n_entries*2}}">More</a>
                |
                <a href="/logbooks/{{logbook.id}}?n=0">All</a>
            {% endif %}
        {% else %}
            <div class="placeholder">No matching entries</div>
        {% endif %}
        
    </div>
</div>

<script type="text/javascript" src="/static/color_attributes.js"></script>

<script type="text/javascript" src="/static/js/lazyload.js"></script>
<script type="text/javascript">
 window.addEventListener("load", function () {
     // we don't want to load all thumbnails for the entire logbook
     // immediately. Instead we'll load them as they come into view.
     // (Yeah, this is an optimization, but I think it's a pretty
     // important one)
     new LazyImageLoad(document.querySelector("div.entries"))
 });
</script>

<script type="text/javascript">

 function markEntry(entryId, followupId) {

     // Highlight the given entry in the list
     
     // first remove all marks
     document.querySelectorAll('div.entry')
             .forEach(function (element) {
                 element.classList.remove("selected")
             });
     /* if (followupId) {
      *     var element = document.getElementById("entry-" + followupId);
      *     if (element) {
      *         element.classList.add("selected")
      *     } else if (entryId) {
      *         var element = document.getElementById("entry-" + entryId);
      *         if (element) {
      *             element.classList.add("selected")
      *         }
      *     }
      * }*/
     if (followupId) {
         var element = document.getElementById("entry-" + followupId);
         if (element) {
             element.classList.add("selected")
         } else if (entryId) {
             var element = document.getElementById("entry-" + entryId);
             if (element) {
                 element.classList.add("selected")
             }
         }
     } else {
         var element = document.getElementById("entry-" + entryId);
         if (element) {
             element.classList.add("selected")
         }         
     }
 }

 // listen to changes in which entry is selected
 if(parent.window.eventbus) {
     parent.window.eventbus.entries.add(markEntry);
 }
 
</script>

<script src="/static/js/colorize_elements.js"></script>
<script>

 colorizeElements(".tag", "name");
 
</script>
