html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;    
    font-family: Sans-Serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;      
}

header div {
    padding: 3px;
}

header .logbook {
    position: sticky;
}

header .entry {
    background: #ddd;
}

div.container {

}

hr {
    margin-top: 0;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px dotted #8c8c8c;
}

.commands {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    float: right;
    z-index: 10;
}


div.attributes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label.attribute {
    font-size: small;
    background: #eee;
    border: 1px solid #aaa;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 5px;
}

label.attribute .value::before {
    content: ":"
}

article {
    position: relative;
}

article .info {
    font-size: 11pt;
}

article .info span {
    padding-right: 10px;
}


article span.title {
    font-size: large;
}

article div.content {
    padding: 10px;
    
    /* let's use the same font style as TinyMCE for extra WYSIWYG */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  
    font-size: 14px;
}

article div.content table {
    border-collapse: collapse;
}

article div.content img {
    max-width: 100%;
}
