<link rel="stylesheet" type="text/css" href="/static/main.css"/>

<style>
 
 body {
     background: #ddd;
 }

 .container {
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 .container header {
     flex: 0;
     padding: 5px 10px;
     background: #eee;
 }

 header .title {
     font-size: 120%;
 }
 
 .body {
     flex: 1;
     border-bottom: 1px
     max-height: 100%;
     overflow: auto;
 }

 .info {
     /* this is the magic that keeps the entry headers floating along */
     position: sticky;  
     top: 0;
     
     background: #eee;
     border-bottom: 1px solid #bbb;
     padding: 10px;          
 }

 article {
     background: white;
     border-bottom: 2p solid black;
 }   
 
 article.followup {
     border-left: 10px solid #ddd;
 }

 article.followup .info {
     border-top: 1px solid #aaa;
 }

 article.followup .followup-n {
     background: grey;
     color: white;
     padding: 0 5px;
     border-radius: 10px;
 }

 label.attribute {
     background-color: white;
 }
 
</style>

<div class="container">
    
    <header>
        <span class="title">{{ entry.title or "(Untitled)"}}</span>
        <div class="commands">
            {% if entry.follows %}
                <a href="/entry/{{entry.follows.id}}">Parent</a>
            {% else %}
                <a href="new?follows={{ entry.id }}">Follow-up</a>
            {% endif %}
            |
            <a href="/logbooks/{{entry.logbook.id}}#{{entry.id}}" target="logbook">Find</a>

            <a href="/entries/{{entry.previous.id}}">Prev</a>            
            <a href="/entries/{{entry.next.id}}">Next</a>
        </div>
    </header>
    
    <div class="body">

        <a id="{{entry.id}}"></a>  {# link anchor #}
        
        <article>
            
            <div class="info">

                <div class="commands">                    
                    <a href="edit/{{entry.id}}">Edit</a>
                    |
                    <a href="/#/logbooks/{{entry.logbook.id}}@/entries/{{entry.id}}" target="_top">Link</a>
                    {% if entry.followups %}
                        &nbsp;🠉&nbsp; <a href="#{{entry.followups[0].id}}">&nbsp;🠋&nbsp;</a>
                    {% endif %}
                </div>

                <span class="timestamp">
                    {{entry.created_at.strftime('%Y-%m-%d %H:%M:%S')}}
                </span>
                {#
                {% if entry.last_changed_at %}
                <a href="/entries/change/{{entry.last_changed_at}}">
                <span class="changed">(Changed at {{entry.last_changed_at}})</span>
                </a>
                {% endif %}            
                #}
                {% if entry.authors %}
                    <span class="author">
                        {{ ", ".join(entry.authors) }}
                    </span>
                {% endif %}
                <div class="attributes">

                    {% if entry.logbook.attributes and entry.attributes  %}
                        {% for attribute in entry.logbook.attributes
                        if attribute.name in entry.attributes %}
                            <label class="attribute" data-name="{{attribute.name}}">
                                {% if attribute.required %}*{% endif %}
                                {{attribute.name}}
                                <span class="value">
                                    {% if attribute.type == "text" %}
                                        {{ entry.attributes.get(attribute.name) }}
                                    {% endif %}
                                    {% if attribute.type == "number" %}
                                        {{ entry.attributes.get(attribute.name) }}
                                    {% endif %}
                                    {% if attribute.type == "boolean" %}
                                        {{ entry.attributes.get(attribute.name) }}
                                    {% endif %}
                                    {% if attribute.type == "option" %}
                                        {{ entry.attributes.get(attribute.name) }}
                                    {% endif %}</span>
                            </label>
                        {% endfor %}
                    {% endif %}
                </div>
                
            </div>
            
            <div class="content">
                {{ (entry.content or "") | safe }}
            </div>
            
        </article>

        {% for followup in entry.followups %}

            <a id="{{followup.id}}"></a>  {# link anchor #}
            
            <article class="followup">
                
                <div class="info">
                    <div class="commands">

                        <a href="/entries/edit/{{followup.id}}">Edit</a>
                        &nbsp;
                        <a href="/#/logbooks/{{followup.logbook.id}}@/entries/{{entry.id}}#{{followup.id}}" target="_top">Link</a>
                        
                        {% if loop.first %}
                            <a href="#{{entry.id}}">&nbsp;🠉&nbsp;</a>
                        {% else %}
                            <a href="#{{entry.followups[loop.index0-1].id}}">&nbsp;🠉&nbsp;</a>
                        {% endif %}
                        
                        {% if loop.last %}
                            &nbsp;🠋&nbsp;
                        {% else %}
                            <a href="#{{entry.followups[loop.index0+1].id}}">&nbsp;🠋&nbsp;</a>
                        {% endif %}
                    </div>        

                    <span class="followup-n">#{{loop.index}}</span>
                    <span>
                        {{followup.created_at.strftime('%Y-%m-%d %H:%M:%S')}}
                    </span>
                    {% if followup.authors and followup.authors != entry.authors %}
                        <span>{{ ", ".join(followup.authors) }}</span>
                    {% endif %}
                    {% if followup.last_changed_at %}
                        <a href="/entries/change/{{followup.last_changed_at}}">
                            <span class="changed">(Changed at {{followup.last_changed_at}})</span>
                        </a>
                    {% endif %}
                    {% if followup.title and followup.title != entry.title %}
                        <div>
                            <span class="title">
                                {{followup.title}}
                            </span>
                        </div>
                    {% endif %}

                    {% if entry.attributes %}
                        <div class="attributes">        
                            {% for attribute in entry.logbook.attributes %}
                                {% if followup.attributes.get(attribute.name) != entry.attributes.get(attribute.name) %}
                                    <label class="attribute" data-name="{{attribute.name}}">
                                        {% if attribute.required %}*{% endif %}
                                        {{attribute.name}}:
                                        <span class="value">
                                            {% if attribute.type == "text" %}
                                                {{ followup.attributes.get(attribute.name) }}
                                            {% endif %}
                                            {% if attribute.type == "number" %}
                                                {{ followup.attributes.get(attribute.name) }}
                                            {% endif %}
                                            {% if attribute.type == "boolean" %}
                                                {{ followup.attributes.get(attribute.name) }}
                                            {% endif %}
                                            {% if attribute.type == "option" %}
                                                {{ followup.attributes.get(attribute.name) }}
                                            {% endif %}
                                        </span>
                                    </label>
                                {% endif %}
                            {% endfor %}        
                        </div>
                    {% endif %}
                    
                </div>
                
                <div class="content">
                    {% if followup.content_type.split(";")[0] == "text/html" %}
                        {{ followup.content | safe }}
                    {% else %}
                        Unknown content type: {{followup.content_type}}
                    {% endif %}
                </div>
                
            </article>

        {% endfor %}
    </div>
</div>


<script type="text/javascript" src="/static/color_attributes.js"></script>


<script>
 /*  top.window.eventbus.logbooks.add(function () {window.location = "about:blank"})*/
</script>
