<style>
 .warning {
     margin: 50px;
     padding: 10px 20px;
     border: 1px solid red;
     background: #fdd;
 }
</style>


<div class="warning">

    <h3>Locked!</h3>
    
    <p>Someone has previously opened this entry for editing and has not submitted
        their changes yet.</p>
    <ul>
        <li>Entry id: {{lock.entry.id}}</li>
        <li>Locked by IP: {{lock.owner_ip}}.</li>
        <li>Since: {{lock.since}}</li>
    </ul>
    
    <p>If you're sure the lock owner does not have important pending edits, you can
        <a href="/entries/unlock/{{lock.entry.id}}">unlock</a> the entry and edit it.</p>

    <p>(Data will never be lost, but you may have to dig through the revision history
        of the entry to get it)</p> 
</div>
