<style>

 html, body {
     padding: 0;
     margin: 0;
     height: 100%;
     width: 100%;
 }
 
 #app {
     font-family: 'Avenir', Helvetica, Arial, sans-serif;
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 header.main {
     height: 50px;
     border-bottom: 1px solid grey;
     padding-left: 10px;
 }

 header.main .title {
     font-size: 200%;
 }
 
 section.main {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: calc(100% - 50px);
 }

 #logbooks {
     flex: 1;
     max-width: 20%;
     background: #ddd;
     height: 100%;
     border-right: 5px solid #aaa;
     display: flex;
     flex-direction: column;
 }

 #logbooks .header {
     border-bottom: 1px solid #999;
     padding: 5px;
 }
 
 #logbooks .logbooks {
     flex: 1;
     overflow: auto;
     height: 100%;
 }

 #logbooks ul.logbooks {
     margin: 0;
 }

 #logbooks li {
     white-space: nowrap;
 }
 
 #logbooks .search {
     flex: 0;
     padding: 10px;          
     border-top: 1px solid #aaa;
 }

 #logbooks .search form{
     margin: 0;
 }
 
 #logbooks .search input {
     width: 100%;
     margin-bottom: 5px;
 }

 #logbooks .search input[type=checkbox] {
     width: 0;
 }

 #logbooks .search label {
     font-size: 90%;
     float: left;
 }
 
 object {
     width: 100%;
     height: 100%;
 }
 
 #logbook {
     flex: 2;
     background: #ddd;
     height: 100%;
     border-right: 5px solid #aaa;
 }

 #entry {
     flex: 4;
     display: flex;
     flex-direction: column;
     height: 100%;
     max-width: 100%;
     overflow-x: auto;
 }

 #entry article {
     flex: 10;
     height: 100%;
     overflow-y: auto;
 }

 .logbook.selected {
     background: white;
 }
 
 ul {
     padding-left: 20px;     
 }

</style>


{% macro logbook_children(logbook) %}

<div class="logbook" id="{{ logbook.id }}">
    <!-- <a href="/#/logbook/{{logbook.id}}">
         {{logbook.name}} ({{logbook.get_entries().count()}})
         </a> -->
    <a href="/logbooks/{{logbook.id}}" target="logbook">
        {{ logbook.name.replace(" ", "&nbsp;") }}
        {% if logbook.get_entries() %}
        ({{ logbook.get_entries().count() }})
        {% endif %}
    </a>
</div>
    
{% if logbook.children %}
<ul>
    {% for child in logbook.children %}
    <li class="logbook">
        {{logbook_children(child)}}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endmacro %}


<div id="app">
    <header class="main">
        <span class="title">{{ title | safe }}
        {% if parent %}
        <span>| {{ parent.name }}</span>
        {% endif %}
        </span>
    </header>
    <section class="main">
        <nav id="logbooks">
            <div class="header">
                <a href="/logbooks/new?parent={{parent.id if parent else 0}}">New logbook</a>
            </div>
            <div class="logbooks">
                <div>
                    <ul class="logbooks">
                        {% for logbook in logbooks %}
                        <li class="logbook">
                            {{ logbook_children(logbook) }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="search">
                Quick search
                <form action="/search/" target="logbook">

                    <input type="hidden" name="logbook" value="0">
                    
                    <div>
                        <label for="all-logbooks">
                            <input name="this-logbook" type="checkbox"/>
                            This logbook
                        </label>
                        {#
                        <label for="include-chidlren">
                            <input name="include-children" type="checkbox"/>
                            Include children
                        </label>
                        #}
                    </div>

                    <input name="content" placeholder="Content"/>
                    <input name="title" placeholder="Title"/>
                    <input name="authors" placeholder="Author"/>
                    <input name="attachments" placeholder="Attachments"/>
                    <button type="submit">Search</button>
                </form>
            </div>
        </nav>
        <nav id="logbook">
            <object name="logbook" frameborder="no" type="text/html" data="about:blank"></object>
        </nav>
        <div id="entry">
            <object name="entry" frameborder="no" type="text/html" data="about:blank"></object>
        </div>
    </section>
</div>

<script type="text/javascript" src="static/js/signals.min.js"></script>

<script type="text/javascript" src="/static/js/router.js"></script>

<script type="text/javascript">

 // A simple global event bus, just to 'de-couple'
 // things a bit. We'll send out events for important
 // changes, and components may listen to them as they need.
 window.eventbus = {
     entries: new signals.Signal(),
     logbooks: new signals.Signal()
 };

 function markLogbook(logbookId) {
     // highlight the currently selected logbook in the list
     document.querySelectorAll('.logbook')
             .forEach(function (element) {
                 element.classList.remove("selected")
             });
     if (logbookId) {
         var element = document.getElementById(logbookId);
         element.classList.add("selected")
     }
     var searchLogbook = document.querySelector('.search input[name=logbook]')
     searchLogbook.value = logbookId;
 }

 window.eventbus.logbooks.add(markLogbook);
 
 window.addEventListener("load", function () {
     window.router = new Router(["logbook", "entry"]);
 });
  
</script>
