<link rel="stylesheet" type="text/css" href="/static/main.css"/>

<style>

 body {
     background: #eee;
 }

 a {
     text-decoration: none;
 }

 .container {
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 header {
     flex: 0;
     padding: 5px;
     border-bottom: 1px solid grey;
     background: #ddd;
     position: relative;
 }

 header .name {
     font-size: 120%;
 }
 
 .entries {
     flex: 1;
     max-height: 100%;
     overflow-y: auto;
 }
 
 .entry {
     position: relative;
     padding: 5px;
     border-bottom: 1px solid #aaa;
     overflow: auto;
 }

 .entry.selected {
     background: white;
 }

 .date-separator {
     position: sticky;
     top: 0;
     border-bottom: 1px solid #aaa;
     font-size: 80%;
     background: #ddd;
     color: black;
     text-align: center;
     z-index: 10;
 }

 .entry .content {
     font-size: 80%;
     line-height: 2ex;
     max-height: 6ex;
     overflow-y: hidden;
 }

 .entry .content:before {
     content: attr(data-content); 
 }

 .entry .followups {
     background: grey;
     color: white;
     padding: 0 5px;
     border-radius: 10px;
     position: absolute;
     right: 2px;
     top: 2px;
 }

 img.thumbnail {
     float: right;
     clear: right;
 }
 
</style>


<div class="container">

    <header>
        <span class="name">{{ logbook.name }}</span>
        &nbsp;
        <a href="/logbooks/{{logbook.id}}/edit" target="_top">Edit</a>
        | 
        <a href="/logbooks/new?parent={{ logbook.id }}" target="_top">New child</a>
        
        <span class="commands">
            <a href="/entries/new?logbook={{logbook.id}}" target="entry">New entry</a>
        </span>
        
        {% if logbook.attributes %}
        <div class="attributes">
            {% for attribute in logbook.attributes %}
            <label class="attribute" data-name="{{attribute.name}}">
                {% if attribute.required %}*{% endif %}
                {{ attribute.name }}<span class="value">{{ attribute.type }}</span>
            </label>
            {% endfor %}
        </div>
        {% endif %}
    </header>
    
    {% set entries=logbook.get_entries(n=n_entries, followups=followups) %}
    
    <div class="entries">

        {% for entry in entries %}

        <a id="{{ entry.id }}"></a>  {# link anchor #}

        {% if loop.first or entries[loop.index0-1].timestamp.date() != entry.timestamp.date() %}
        <div class="date-separator">
            {{ entry.timestamp.strftime("%a %Y-%M-%d") }} 
        </div>
        {% endif %}

        {% set parameters = "?followups=true" if followups else "" %}
        
        {% set entryUrl = "/{parameters}#/logbook/{entry.logbook.id}/entry/{entry.id}".format(entry=entry, followups=followups, parameters=parameters) %}

        <div class="entry" id="entry-{{entry.id}}">
            
            <a href="{{entryUrl}}" target="_top">
                <div>

                    {% if entry.attachments %}
                    {% for attachment in entry.attachments[:1] %}
                    <img class="thumbnail lazy" src="blank.gif" data-src="{{attachment}}.thumbnail" width="50"></img>
                    {% endfor %}
                    {% endif %}
                    
                    <span class="timestamp">
                        {{ entry.timestamp.strftime("%H:%M:%S") }}
                    </span>

                    {% if entry.authors %}
                    <span class="authors">
                        {{ entry.authors[0] }}{% if entry.authors | length > 1 %}&nbsp;et&nbsp;al. {% endif %}
                    </span>
                    {% endif %}

                    {% if entry.title %}
                    <div class="title">{{ entry.title }}</div>
                    {% elif entry.content %}
                    {# this data-* stuff looks funky, it's a hack just to make
                       the browser ignore the content preview when searching in the page #}
                    <div class="content" data-content="{{ entry.stripped_content[:500] }}"> </div>
                    {% endif %}
                    
                    {% if logbook.attributes %}                            
                    {% for attribute in logbook.attributes if attribute.required %}
                    {% if entry.attributes.get(attribute.name) != "" %}
                    <label class="attribute" data-name="{{attribute.name}}">
                        {{entry.attributes[attribute.name]}}
                    </label>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </div>
            </a>

            {% if entry.followups %}
            <a href="{{entryUrl + ('/{}'.format(entry.followups[-1].id) if entry.followups else '')}}" target="_top">
                <div class="followups">
                    {{ entry.n_followups }}
                </div>
            </a>
            {% elif entry.follows %}
            <div class="followups">*</div>
            {% endif %}
            
        </div>
        {% endfor %}        
        {% if n_entries == entries | length %}
        <a href="/logbooks/{{logbook.id}}?n={{n_entries*2}}">More</a>
        {% endif %}
        
    </div>
</div>

<script type="text/javascript" src="/static/color_attributes.js"></script>

<script type="text/javascript" src="/static/js/lazyload.js"></script>

<script type="text/javascript">
 window.addEventListener("load", function () {
     // we don't want to load all thumbnails for the entire logbook
     // immediately. Instead we'll load them as they come into view.
     new LazyImageLoad(document.querySelector("div.entries"))
 });
</script>

<script type="text/javascript">

 function markEntry(entryId, followupId) {
     console.log("markEntry", entryId, followupId)
     // first remove all marks
     document.querySelectorAll('div.entry')
             .forEach(function (element) {
                 element.classList.remove("selected")
             });
     /* if (followupId) {
      *     var element = document.getElementById("entry-" + followupId);
      *     if (element) {
      *         element.classList.add("selected")
      *     } else if (entryId) {
      *         var element = document.getElementById("entry-" + entryId);
      *         if (element) {
      *             element.classList.add("selected")
      *         }
      *     }
      * }*/
     if (followupId) {
         var element = document.getElementById("entry-" + followupId);
         if (element) {
             element.classList.add("selected")
         } else if (entryId) {
             var element = document.getElementById("entry-" + entryId);
             if (element) {
                 element.classList.add("selected")
             }
         }
     } else {
         var element = document.getElementById("entry-" + entryId);
         if (element) {
             element.classList.add("selected")
         }         
     }
 }

 window.addEventListener("load", function () {
     if (window.location.hash) {
         // highlight the selected entry
         markEntry(window.location.hash.slice(1))
     }
     parent.window.eventbus.entrySelected.add(markEntry);
 });

 window.addEventListener("unload", function() {
     parent.window.eventbus.entrySelected.remove(markEntry);
 })
 
</script>

