<link rel="stylesheet" type="text/css" href="/static/main.css"/>

<style>

 body {
     background: #eee;
 }

 a {
     text-decoration: none;
 }

 .container {
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 header {
     flex: 0;
     padding: 5px;
     border-bottom: 1px solid grey;
     background: #ddd;
     position: relative;
 }

 header .name {
     font-size: 120%;
 }
 
 .entries {
     flex: 1;
     max-height: 100%;
     overflow-y: auto;
 }
 
 .entry {
     position: relative;
     padding: 5px;
     border-bottom: 1px solid #aaa;
     overflow: auto;
 }

 .entry:hover {
     background: #f5f5f5;
 }
 
 .entry.selected {
     background: white;
 }

 .date-separator {
     position: sticky;
     top: 0;
     border-bottom: 1px solid #aaa;
     font-size: 80%;
     background: #ddd;
     color: black;
     text-align: center;
     z-index: 10;
 }

 .entry .content {
     font-size: 80%;
     line-height: 2ex;
     max-height: 6ex;
     overflow-y: hidden;
 }

 .entry .content:before {
     content: attr(data-content); 
 }

 .entry .followups {
     background: grey;
     color: white;
     padding: 0 5px;
     border-radius: 10px;
     position: absolute;
     right: 2px;
     top: 2px;
 }

 img.thumbnail {
     float: right;
     clear: right;
 }
 
</style>


{% from 'entries.jinja2' import entry_item %}

<div class="container">
    
    <header>
        <span class="name">{{ logbook.name }}</span>
        &nbsp;
        <a href="/logbooks/{{logbook.id}}/edit" target="_top">Edit</a>
        | 
        <a href="/logbooks/new?parent={{ logbook.id }}" target="_top">New child</a>
        
        <span class="commands">
            <a href="/entries/new?logbook={{logbook.id}}" target="entry">New entry</a>
        </span>
        
        {% if logbook.attributes %}
            <div class="attributes">
                {% for attribute in logbook.attributes %}
                    <label class="attribute" data-name="{{attribute.name}}">
                        {% if attribute.required %}*{% endif %}
                        {{ attribute.name }}<span class="value">{{ attribute.type }}</span>
                    </label>
                {% endfor %}
            </div>
        {% endif %}
    </header>
    
    {% set entries=logbook.get_entries(n=n_entries, followups=followups) %}
    
    <div class="entries">
        
        {% for entry in entries %}
            
            <a id="{{ entry.id }}"></a>  {# link anchor #}
            
            {% if loop.first or entries[loop.index0-1].timestamp.date() != entry.timestamp.date() %}
                <div class="date-separator">
                    {{ entry.timestamp.strftime("%a %Y-%m-%d") }} 
                </div>
            {% endif %}
            
            {% set parameters = "?followups=true" if followups else "" %}
            {% set entryUrl = "/{parameters}#/logbook/{entry.logbook.id}/entry/{entry.id}".format(entry=entry, followups=followups, parameters=parameters) %}

            <a href="{{entryUrl}}" target="_top">
                {{ entry_item(entry) }}
            </a>
        {% endfor %}        
        {% if n_entries == entries | length %}
            <a href="/logbooks/{{logbook.id}}?n={{n_entries*2}}">More</a>
        {% endif %}
        
    </div>
</div>

<script type="text/javascript" src="/static/color_attributes.js"></script>

<script type="text/javascript" src="/static/js/lazyload.js"></script>
<script type="text/javascript">
 window.addEventListener("load", function () {
     // we don't want to load all thumbnails for the entire logbook
     // immediately. Instead we'll load them as they come into view.
     // (Yeah, this is an optimization, but I think it's a pretty
     // important one)
     new LazyImageLoad(document.querySelector("div.entries"))
 });
</script>

<script type="text/javascript">

 function markEntry(entryId, followupId) {
     console.log("markEntry", entryId, followupId)
     // first remove all marks
     document.querySelectorAll('div.entry')
             .forEach(function (element) {
                 element.classList.remove("selected")
             });
     /* if (followupId) {
      *     var element = document.getElementById("entry-" + followupId);
      *     if (element) {
      *         element.classList.add("selected")
      *     } else if (entryId) {
      *         var element = document.getElementById("entry-" + entryId);
      *         if (element) {
      *             element.classList.add("selected")
      *         }
      *     }
      * }*/
     if (followupId) {
         var element = document.getElementById("entry-" + followupId);
         if (element) {
             element.classList.add("selected")
         } else if (entryId) {
             var element = document.getElementById("entry-" + entryId);
             if (element) {
                 element.classList.add("selected")
             }
         }
     } else {
         var element = document.getElementById("entry-" + entryId);
         if (element) {
             element.classList.add("selected")
         }         
     }
 }

 window.addEventListener("load", function () {
     if (window.location.hash) {
         // highlight the selected entry
         markEntry(window.location.hash.slice(1))
     }
     parent.window.eventbus.entrySelected.add(markEntry);
 });

 window.addEventListener("unload", function() {
     parent.window.eventbus.entrySelected.remove(markEntry);
 })
 
</script>

