a {
   outline: 0;  /* get rid of annoying selection rectangle in FF */
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#logbooks {
    flex: 1;
    background: #eee;
    height: 100%;
    border-right: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    min-width: 15%;
}

#logbook {
    flex: 2;
    border-right: 1px solid #bbb;
    min-width: 25%;
}
 
#entry {
    flex: 4;
    overflow: auto;
}

#search {
    border-top: 1px solid #bbb;
    background: #eee;
    margin: 0;
    padding: 5px;
}

#search input[type=text] {
    margin-bottom: 3px;
    box-sizing : border-box;     
}

@media print {
    #app {
        display: unset;
    }

    #logbooks, #logbook {
        display: none;
    }

    #entry {
        overflow: unset;
    }
}

 /* All CSS below is for making Elogy mobile compatible */

.mobile-back-button{
    display: none;
}

@media (max-width: 767.98px){

    .mobile-back-button{
        display: block;
        height: 40px;
    }
   
    #app {
        flex-direction: column;
    }

    #logbooks #logbooktree.logbook-not-selected{
        width: 100%;
        height: 75%;
    }

    #logbooks #search.logbook-not-selected{
        width: 100%;
        height: 25%;
        padding:0px;
    }

    #logbooks .logbook-selected, #logbook .entry-selected, #logbook .empty, #entry .empty{
        display: none;
    }

    #logbook .logbook-selected{
        display: block;
    }

    #logbooks, #logbook, #entry{
        width: 100%;
        display: block;
        height: inherit;
        overflow: unset;
    }
    #entry .info {
        overflow: auto;
    }
    #entry .timestamp {
        display: block;
    }
}