#entry {
    background: #ccc;
}

#entry .empty {
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

#entry img {
    image-orientation: from-image;
}

#entry header {

}

#entry .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#entry .container header {
    flex: 0;
    padding: 5px 10px;
    background: #eee;
}

#entry header .logbook  {
    font-size: 120%;
}

#entry header .title  {
    font-size: 120%;
    font-weight: bold;    
}

#entry header .title i {
    padding-right: 3px;
}

#entry header .commands {
    float: right;
}

#entry .body {
    flex: 1;
    border-bottom: 1px;
    max-height: 100%;
    overflow: auto;
}

#entry .info {
    /* this is the magic that keeps the entry headers floating along */
    position: sticky;  
    top: 0;
    background: #eee;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 5px 10px;          
}

#entry .commands {
    float: right;
}

#entry .followups .info {
    border-top: 1px solid #bbb;
}

#entry .followups {
    border-left: 10px solid #ccc;
}

#entry .info .authors span.author:not(:last-child):after {
    content: ", ";
}

#entry .timestamp {
    padding-right: 5px;
    white-space: nowrap;
}

#entry .info .attributes .attribute {
    display: inline-block;
    white-space: nowrap;
    font-size: 90%;
    padding-right: 4px;
    margin: 0 2px;
    line-height: 2em;
}


#entry .info .attributes .attribute .name {
    background: #ccc;
    color: black;
    padding: 1px 4px;
    border-radius: 5px 0 0 5px;
}

#entry .info .attributes .attribute .value {
    background: #666;
    color: white;
    padding: 1px 4px;
    border-radius: 0 5px 5px 0;
}

#entry .info .attributes .attribute .value span.option:not(:last-child):after {
    content: ", ";
}

#entry article {
    border-bottom: 2px solid black;
}   

#entry article .content {
    background: white;
    padding: 5px 20px;
    overflow: auto;
}

#entry article .content.plain {
    white-space: pre-wrap;
}
 
#entry article .content img:not([width]) {
    max-width: 100%;
}

#entry article .followups {
    border-left: 10px solid #ddd;
}

#entry article .followups .followup-n {
    background: grey;
    color: white;
    padding: 0 5px;
    border-radius: 10px;
}

#entry article .attachments {
    background: white;
    border-top: 1px dashed #ccc;
    padding: 5px;
}

#entry article .attachments .attachment {
    margin-right: 5px;
}

#entry article .attachments .attachment img {
    border: 1px solid grey;
    vertical-align: top;    
}

#entry article .attachments .attachment a {
    padding: 0;    
    margin: 0;
}

#entry article .attachments table tr td {
    border: none;
    padding: 2px 10px;
}

#entry article .attachments table tr:nth-child(even) {
    background: #ccc;
}

#entry table[width="98%"] {
    border: 1px solid red;
}

#entry .attachment .preview {
    max-width: 100px;
    overflow: hidden;
}

#entry table {
    border-collapse: collapse;
}

#entry td {
    padding: 3px;
    border: 1px solid #ccc;
}

#entry article .info.current {
    /*border-left: 3px solid orange;*/
}

@media print {
    #entry .body {
        overflow: unset;
    }

    .commands {
        display: none;
    }

    #entry header a {
        text-decoration: none;
        color: black;
    }

    #entry .container {
        display: unset;
    }
}
