#entryeditor {
    height: 100%;
}

#entryeditor table.editor {
    width: 100%;
    height: 100%;
    background: #ddd;
}

#entryeditor table.editor td {
    border: 0;
    padding: 2px 5px;
}

#entryeditor td.entry {
    /* height: 200px; */
}

#entryeditor div.entry {
    max-height: 300px;

    overflow-y: auto;
    border-bottom: 1px solid black;
}

#entryeditor .header {
    padding: 5px;
    background: #ddd;
    font-size: 90%;
    font-weight: none;
    text-align: left;
}

#entryeditor input[type=text].title {
    width: 100%;
    box-sizing : border-box;
    margin-bottom: 5px;
    font-size: 100%;
}

#entryeditor th .logbook {
    font-size: 100%;
}

#entryeditor .content {
    height: 100%;
}

#entryeditor .content > div {
    height: 100%;
}

#entryeditor .attributes {
    margin-top: 5px;
}

#entryeditor .attributes span label {
    display: inline-block;    
    margin: 1px 5px;
    vertical-align: middle;    
}

#entryeditor .select-wrapper {
    /* allow Select component to start small but grow as needed */
    min-width: 150px;
    display: inline-block;
    margin: 0 1px;
}

#entryeditor .attribute-wrapper {
    display: inline-block;
    margin: 0 1px;
    
}

#entryeditor .attribute-wrapper.option-attribute,
#entryeditor .attribute-wrapper.multioption-attribute{
    /* allow Select component to start small but grow as needed */
    min-width: 200px;
}


#entryeditor .Select-input, #entryeditor .Select-control {
    height: 2em;
}

#entryeditor .Select-placeholder,
#entryeditor .Select-placeholder,
#entryeditor .Select--single > .Select-control .Select-value {
    line-height: 2em;
}

#entryeditor .Select--multi .Select-value {
    background: #666;
    color: white;
    font-size: 100%;
}

#entryeditor .Select--multi .Select-value {
    margin-left: 2px;
    margin-top: 2px;
}

#entryeditor .Select-input > input {
    height: 1.5em;
    font-size: 100%;
    padding: 4px 0 8px;
}

#entryeditor footer {
    padding: 5px;
}

#entryeditor .header select {
    max-width: 400px;
}

#entryeditor .mce-tinymce:not(.mce-floatpanel), .mce-container-body:not(.mce-abs-layout), #code_ifr {
    min-height: 100%;
}
/*Container body*/
#entryeditor .mce-container-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/*Editing area*/
#entryeditor .mce-container-body .mce-edit-area {
    position: absolute;
    top: 37px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y:scroll;
}
/*Footer*/
#entryeditor .mce-tinymce .mce-statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


#entryeditor .attachments-drop {
    /* min-height: 30px; */
    max-height: 100px;
    overflow-y: auto;
    border: 3px dashed grey;
    padding: 5px;
    text-align: center;
}

#entryeditor .attachments-drop .attachment {
    margin-right: 5px;
    vertical-align: top;
    pointer-events: none;
}


#entryeditor .commands button {
    font-size: 100%;
    border: 0;
    border-radius: 3px;
    margin: 2px;
    padding: 5px 10px;
}    

#entryeditor button.submit {
    background: green;
    color: white;
}

#entryeditor button.submit[disabled] {
    background: grey;
    color: white;
}

#entryeditor button.cancel {
    background: red;
    color: white;
}

#entryeditor .attachments {
    max-height: 180px;
    overflow-y: auto;
}

#entryeditor .attachment-delete {
    position: relative;
}

#entryeditor button.delete {
    background: red;
    color: white;
    position: absolute;
}

#entryeditor span.error {
    width: 100%;
    text-align: center;
    background: red;
    color: white;
}

#entryeditor span.locked-by-someone-else {
    background: red;
    color: white;
}
