#logbookeditor {
    background: #ddd;
    padding: 5px;
}

#logbookeditor header select {
    width: 300px;
}

#logbookeditor input[name=name] {
    width: 100%;
}

#logbookeditor textarea[name=description] {
    width: 100%;
}

#logbookeditor .attributes button {
    margin: 0;
    padding: 0;
}

#logbookeditor .attribute label {
    padding: 0 5px;
    white-space: nowrap;
}

#logbookeditor .attribute textarea {
    vertical-align: top;
}

#logbookeditor fieldset.template > div {
    height: 200px;
}

#logbookeditor span.error {
    width: 100%;
    text-align: center;
    background: red;
    color: white;
}

.mce-tinymce:not(.mce-floatpanel), .mce-container-body:not(.mce-abs-layout), #code_ifr {
    min-height: 100%;
}

/*Container body*/
.mce-container-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Editing area*/
.mce-container-body .mce-edit-area {
    position: absolute;
    top: 37px;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Footer*/
.mce-tinymce .mce-statusbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
